@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://unpkg.com/almond.css@latest/dist/almond.lite.min.css");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
